*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  max-width: 375px;
}

h1 {
  font-size: 1.5em;
  display: inline;
}

h2 {
  font-size: 1.2em;
  padding: 5px 0px 8px 5px;
  margin-top: 0;
}

h6 {
  font-weight: normal;
}

p {
  font-size: 1em;
  color: #E00061;
  padding-top: 2px;
}

.status-bar {
  background-color: #353A57;
  color: white
}

.top-bar {
  position: fixed;
  width: 375px;
  top: 0;
}

.top-info {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.back-arrow {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.iOS-status {
  display: block;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.information-box{
  color: white;
  background-color: #353A57
}

.live-map {
  display: flex;
  margin-top: 84px;
}

.list li {
  display: flex;
  color: #353A57;
  padding-top: 5px;
  padding-bottom: 5px;
}

.direction-titles {
  display: flex;
  background-color: #C4C2C2;
}

.direction-heading {
  font-weight: bold;
}

.line-title{
  display: flex;
  justify-content: center;
  width: 101px;
  padding-left: 20px;
  padding-right: 20px;
}

.destination-title {
  display: block;
  margin-left: 15px;
}

.one-after{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #C4C2C2;
}

.bus-img {
  margin: 0 20px 0 30px;
}

.destination {
  display: block;
  text-align: left;
  height: 90px;
  padding: 20px 15px 15px 15px;
}

.inline-heading {
  font-weight: bold;
  color:  #353A57;
}

.line {
  display: block;
  height: 90px;
  width: 101px;
  padding: 25px 20px 20px 20px;
  text-align: center;
}

.oos-route-list li:last-child{
  margin-bottom: 60px;
}

/* TabNavigation */
.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 65px;
  width: 375px;
  background-color: #353A57;
}

.tabIcons {
  display: flex;
  list-style-type: none;
  text-align: center;
  /* width: 50px; */
}

.tabIcon {
  display: block;
  padding-top: 12px;
  width: 75px
}

.tabActive {
  background-color: #E8E8E8;
}

.iconLabel {
  color: #E8E8E8;
}

.iconActive {
  color: #353A57;
}

@media screen and (min-width: 500px) {
  body {
    width: 375px;
  }
